/* The console container element */

body {
  overflow: hidden;
  padding: 0 0 0 0;
}

::-webkit-scrollbar {
  display: none;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  overflow: auto;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

#workspace {
  font-size: 12px;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  padding: 10px;
}

#consolebody {
  position: absolute;
}

#console {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px; 
}

#console * {
    word-break: break-word;
    font-size: 12px;
    font-family: 'IBM Plex Mono';
    font-weight: 600;
}

.parents {
    font-weight: 600;
}

/* The inner console element. */
.jqconsole {
  padding: 10px;
}

.jqconsole-cursor {
  background-color: #606c76;
}
